body{
    width: 300px;
    height: 400px;
    margin: 0;
}
.content_name{
    height: 50px;
    background-color: rgb(49, 50, 56);
}
header{
    padding: 20px;
    
}
.p_title{
    font-size: 20px;
    color: red;
    display: inline;
    padding-left: 20px;
}

#current_time{
    font-size: 50px;
    text-decoration: solid;
}